<h1>Total Buy Sell</h1>

<br>
<% @public_feed.each do |trades| %>

<div class="card">
<div class="card">
<div class="card-body">
  <h4 class="card-title"><%= trades.user.username %></h4>
  <p class="card-text">
  <h4>  <%= trades.stock_name %> </h4>
  <h5>
  
  <% if trades.order_type =='Buy' %>
  <p style="color:MediumSeaGreen;"> Bought  @<%= trades.stock_price %> </p>
   <%  else %>
  <p style="color:Tomato;"> Sold  @<%= trades.stock_price %>
  <% end %>
  
  </p>
  </p>
  <div class="form-group">
  <input type="name" class="form-control" id="comment" placeholder="Enter your comment" name="comments[user_comment]">
  </div>
  <button type="button" class="btn">Comment</button>
</div>
</div>

<hr>
<% end %>